/* body {
  background-image: url(../src/assets/189745955_l_normal_none.jpg);
  background-size: cover;
  background-attachment: fixed;  
} */

.navbar a.active {
  color: rgb(74, 190, 219);   
}

.navbar a{
  padding-right: 15px;
  text-decoration: none;
  color: aliceblue;  
}

.minilogo{
  border: solid 1px black;
  border-radius: 100%;  
}

.caroImages{
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.imgmovie{
  height: 450px;  
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.signinborder{
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
  margin: 1rem;
  border: 5px solid black;
  border-radius: 20px;
  position: relative;  
}
section {
  flex-wrap: wrap;
  align-content: center;
}
.cardscontainer{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: flex-start;
}

.formBackground{
background-image: url(./assets/formbackground.jpg);
background-size: cover;
background-attachment: fixed;
height: 100vh;
justify-content: center;
align-items: center;
}

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: x-large;  
}
.formwidth{
  border: dotted 5px rgb(196, 16, 16);
  width: 600px;
  margin: 10rem;
  background-color: rgb(240, 248, 255, 50%);
  border-radius: 50px; 
}

.navwidth{
  border: dotted 5px rgb(196, 16, 16);
  background-color: rgb(0,0,0, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 500px;
  height: 200px;
  border-radius: 50px; 
}

.container{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card{
  display: block;
  margin: 10px;
}

.img{
  height: 15rem;
  width: 100%;
}

.navbarmovie{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}


.navbarSearch {
  background-color: #282c34;
  background-image: url(../src/assets/189745955_l_normal_none.jpg);
  background-size: cover;
  background-attachment: inherit;
  background-repeat: no-repeat; 
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  /* border-radius: 10px; */
  padding: 20px;
  height: 50rem;
  
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.movieCompoBackground{
  
  background-image: url(./assets/Banner1.jpg);
  background-size: cover;
  background-attachment: fixed; 
  height: 100vh; 
  align-items: center;
  justify-content: center;
  
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.movie {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.movie img {
  height: 400px;
  width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.movie h3 {
  margin: 0;
  font-size: 1.5rem;
}

.movie p {
  margin: 0;
  font-size: 1.2rem;
  color: rgb(255, 62, 62);
}

footer{
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: .5rem;
}