
.navbar{
  display: flex;
  justify-content: flex-end;
}

.navbar a.active {
  color: rgb(74, 190, 219);   
}

.navbar a{
  padding-right: 15px;
  text-decoration: none;
  color: aliceblue;  
}

.caroImages{
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.imgmovie{
  height: 450px;  
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.signinborder{
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
  margin: 1rem;
  border: 5px solid black;
  border-radius: 20px;
  position: relative;
  
}

footer{
  /* margin-top: 42px; */
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: .5rem;
}